# Project exclude paths
/out/
/src/labs/lab2/BenGuericke_StuartSmith/
.idea/workspace.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/modules.xml
.idea/misc.xml
.idea/modules.xml
/src/labs/lab4/BenGuerickeLab4/
/src/labs/lab4/lab4.docx
/src/Programs/program1/Ben_Guericke_Submission/
/src/labs/lab5/Lab 5 Submission/
